<% @problems.each do |problem| %>
  <h3><%= link_to problem.title, problem %></h3>
  <p>
    <%= problem.body.html_safe %>
    <br /><br />
    <%= link_to 'Solve', new_solution_path(:problem => problem) %> | 
    <% if auth? %>
		<%= link_to 'Add test case', "add_test/#{ problem.id }" %> | 
		<%= link_to 'Edit', edit_problem_path(problem) %> | 
		<%= link_to 'Destroy', problem, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
  </p>
<% end %>

<% if auth? %>
	<br /><hr />

	<%= link_to 'New Problem', new_problem_path %> | 
	<%= link_to 'New Solution', new_solution_path %> | 
	<%= link_to 'New Compiler', new_compiler_path %>
<% end %>
