<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @problem.body %>
</p>

<p>
  <strong>Time limit:</strong>
  <%= @problem.time_limit %>
</p>

<p>
  <strong>Memory limit:</strong>
  <%= @problem.memory_limit %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
