<h1>Listing compilers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Cmd line</th>
    <th>File ext</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @compilers.each do |compiler| %>
  <tr>
    <td><%= compiler.title %></td>
    <td><%= compiler.cmd_line %></td>
    <td><%= compiler.ext %></td>
    <td><%= link_to 'Show', compiler %></td>
    <td><%= link_to 'Edit', edit_compiler_path(compiler) %></td>
    <td><%= link_to 'Destroy', compiler, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br /><hr />

<%= link_to 'New Compiler', new_compiler_path %> | 
<%= link_to 'Problems', problems_path %>
