<h1>Listing compilers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Command</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @compilers.each do |compiler| %>
      <tr>
        <td><%= compiler.name %></td>
        <td><%= compiler.command %></td>
        <td><%= link_to 'Show', compiler %></td>
        <td><%= link_to 'Edit', edit_compiler_path(compiler) %></td>
        <td><%= link_to 'Destroy', compiler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compiler', new_compiler_path %>
