<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @compiler.name %>
</p>

<p>
  <strong>Command:</strong>
  <%= @compiler.command %>
</p>

<%= link_to 'Edit', edit_compiler_path(@compiler) %> |
<%= link_to 'Back', compilers_path %>
