<%= form_for(@test_case) do |f| %>
  <% if @test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case.errors.count, "error") %> prohibited this test_case from being saved:</h2>

      <ul>
      <% @test_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :problem_id %><br />
    <%= f.select :problem_id, Problem.all.map { |p| [p.title, p.id] } %>
  </div>
  <div class="field">
    <%= f.label :given %><br />
    <%= f.text_area :given %>
  </div>
  <div class="field">
    <%= f.label :expected %><br />
    <%= f.text_area :expected %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
