<h1>Listing test_cases</h1>

<table>
  <tr>
    <th>Problem</th>
    <th>Given</th>
    <th>Expected</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_cases.each do |test_case| %>
  <tr>
    <td>
      <% if !test_case.problem.nil? %>
        <%= link_to test_case.problem.title, problem_path(test_case.problem) %>
      <% else %>
        <%= test_case.problem_id %>
      <% end %>
    </td>
    <td><%= test_case.given %></td>
    <td><%= test_case.expected %></td>
    <td><%= link_to 'Show', test_case %></td>
    <td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
    <td><%= link_to 'Destroy', test_case, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if @problem_id %>
  <%= link_to 'New Test case', new_test_case_path(:problem => @problem_id) %>
<% else %>
  <%= link_to 'New Test case', new_test_case_path %>
<% end %>
