<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <% if !@test_case.problem.nil? %>
    <%= @test_case.problem.title %>
  <% else %>
    <%= @test_case.problem_id %>
  <% end %>
</p>

<p>
  <b>Given:</b>
  <%= @test_case.given %>
</p>

<p>
  <b>Expected:</b>
  <%= @test_case.expected %>
</p>

<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
