<%= form_for(@solution) do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Core:<br/>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    Compiler:<br>
    <select name="compiler_id">
      <% Compiler.all.each do |compiler| %>
        <option value="<%= compiler.id %>"><%= compiler.title %></option>
      <% end %>
    </select>
  </div>

  <input type="hidden" name="problem_id" value="<%= params[:problem_id] %>" />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
