<h1>Listing solutions</h1>

<table style="width: 100%; text-align: center;">
  <tr>
    <th>Problem</th>
    <th>Compiler</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @solutions.each do |solution| %>
  <tr>
    <td><%= link_to solution.problem.title, solution.problem %></td>
    <td><%= solution.compiler.title %></td>
    <td><%= link_to solution.status, solution %></td>
    <td><%= link_to 'Edit', edit_solution_path(solution) %></td>
    <td><%= link_to 'Destroy', solution, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Solution', new_solution_path %> | 
<%= link_to 'Problems', problems_path %>
