<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @solution.problem.title %>
</p>

<p>
  <b>Problem:</b>
  <%= @solution.compiler.title %>
</p>

<p>
  <b>Code:</b>
  <pre><%= @solution.code %></pre>
</p>

<p>
  <b>Status:</b>
  <%= @solution.status %>
</p>


<%= link_to 'Edit', edit_solution_path(@solution) if auth? %>
