<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <pre><%= @solution.body %></pre>
</p>

<p>
  <strong>Status:</strong>
  <%= @solution.status %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
